h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

.sps {
    padding: 1em .5em;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
    width: 100%;
  }
  
  .sps--abv {
    background-color: transparent;
    color: #000;
  }
  
  .sps--blw {
    background-color: #333;
    color: #fff;
  }
.alt-t-b{
    padding: 100px 0;
}

.logotipo{
    width: 150px;
    padding: 10px;
}

.icons{
    width: 20px;
    margin: 10px 5px;
    
}

.d-block{
    max-height: 500px;
    
}

.banner-video{
    background-image: url('../images/home/video-bg.jpg');
    padding: 200px 0;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
}

.banner-video .play{
    width: 80px;
    position: relative;
}

.header-somos{
    padding: 150px 0 100px 0;
    background-image: url('../images/somos/slider-interior.jpg');
    background-position: center center;
    background-size: cover;
}

.text-white{
    color: #fff;
    text-align: center;
}

.banner-somos{
    background-image: url('../images/somos/somos-equipo.jpg');
    background-position: center center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}

footer{
    background-color: rgba(128, 128, 128, 0.993);
    padding: 100px 0;
    text-align: center;
}
.logotipo-footer{
    width: 200px;
    margin-bottom: 20px;
}

footer p{
    color: #fff;
    font-size: 12px;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    bottom: 20px;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align:left;
}
